<ion-view title="DocumentScan">
    <ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-arrow-back" ng-click="returnMain()"></button>
        </div>
        <h1 class="title">Document Scan</h1>
    </ion-header-bar>
    <ion-pane>
        <div style="height: 43px;"></div>
        <webcam channel="myChannel" ng-show="capture==null"></webcam>
        <canvas id="canvas1" width="320" height="480" visble="false"></canvas>
        <img width="320" ng-src='{{capture}}' ng-show="capture!=null"/>
    </ion-pane>
    <ion-footer-bar align-title="center" class="bar-positive">
        <button class="button" ng-click="reCapture()">
            <i class="icon ion-android-refresh"></i>&nbsp;&nbsp;Restore
        </button>
        <h1 class="title">
            <button class="button" ng-click="takePhoto()">
                <i class="icon ion-android-camera"></i>&nbsp;&nbsp;
            </button>
        </h1>
    </ion-footer-bar>
</ion-view>
