<ion-view title="DocumentScan">
	<ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-android-arrow-back" ng-click="returnMain()"></button>
		</div>
		<h1 class="title">Document Scan</h1>
	</ion-header-bar>
    <ion-content>
        <div style="height: 43px;"></div>
        <div style="background:#000;">

        </div>
    </ion-content>
	<ion-footer-bar align-title="center" class="bar-positive">
		<h1 class="title"></h1>
		<div class="buttons">
			<button class="button" ng-click="returnMain()">
				<i class="icon ion-arrow-return-right"></i>&nbsp;&nbsp;Back
			</button>
		</div>
	</ion-footer-bar>
</ion-view>
