<ion-view title="DocumentScan">
    <ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-arrow-back" ng-click="returnMain()"></button>
        </div>
        <h1 class="title">Document Scan</h1>
    </ion-header-bar>
    <ion-pane>
        <div style="height: 43px;"></div>
        <div class="card">
            <div class="item">
                <ion-md-input type="text" id="iJobNo" class="pull-left" style="width:80%;" placeholder="Job No" highlight-color="balanced" ng-model="Doc.JobNo"></ion-md-input>
                <div style="width:20%;position:relative;">
                    <button class="button button-clear" style="position:absolute; top:50%; margin-top:12px;" ng-click="showActionSheet()">
                        <i class="icon iconfont ion-android-upload"></i>
                    </button>
                </div>
            </div>
        </div>
    </ion-pane>
    <script id="upload.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive" align-title="center">
                <div class="h1 title">Upload</div>
            </ion-header-bar>
            <ion-pane>
                <div style="height: 43px;"></div>
            </ion-pane>
            <ion-footer-bar class="bar-positive">
                <div class="button-bar">
                    <button class="button icon ion-arrow-return-right" ng-click="closeModal()">&nbsp;Return</button>
                </div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>
    <!--ion-pane style="margin-top:100px;">
        <webcam channel="myChannel" ng-show="capture==null"></webcam>
        <canvas id="canvas1" width="320" height="480" visble="false"></canvas>
        <img width="320" ng-src='{{capture}}' ng-show="capture!=null"/>
    </ion-pane>
    <ion-footer-bar align-title="center" class="bar-positive">
        <button class="button" ng-click="reCapture()">
            <i class="icon ion-android-refresh"></i>&nbsp;&nbsp;Restore
        </button>
        <h1 class="title">
            <button class="button" ng-click="takePhoto()">
                <i class="icon ion-android-camera"></i>&nbsp;&nbsp;
            </button>
        </h1>
    </ion-footer-bar-->
</ion-view>
