<ion-view title="PaymentApproval-List">
	<ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-navicon" ng-click="returnSearch()"></button>
		</div>
		<h1 class="title">Payment Approval</h1>
        <div class="buttons">
            <ion-toggle ng-model="plcpStatus.checked" toggle-class="toggle-calm" ng-change="plcpStatusChange()" style="color:#fff;margin:-8px;border-width:0px;background-color:transparent;">
                <span ng-bind="plcpStatus.text"></span>
            </ion-toggle>
        </div>
	</ion-header-bar>
    <ion-content class="has-header">
        <div class="list">
            <ion-item class="item" ng-repeat="plcp1 in Plcp1s">
                <ion-checkbox ng-model="plcp1.IsSelected" ng-change="ClickSelect(plcp1)">
                    <h2><span ng-bind="plcp1.VoucherNo"></span></h2>
                    <p>
                        <i class="iconfont icon-title"></i>&nbsp;
                        <span ng-bind="plcp1.VendorName"></span>&nbsp;
                        <i class="iconfont icon-amount"></i>&nbsp;
                        <span ng-bind="plcp1.InvoiceAmt"></span>&nbsp;
                        <i class="iconfont icon-date"></i>&nbsp;
                        <span ng-bind="funcShowDate(plcp1.InvoiceDate)"></span>
                    </p>
                </ion-checkbox>
            </ion-item>
        </div>
        <ion-infinite-scroll ng-if="Filter.CanLoadedMoreData" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <div class="row" style="padding: 0px;">
            <button class="col button button-clear" ng-click="ClickSelectAll()">
                <i class="icon ion-android-checkmark-circle"></i>&nbsp;&nbsp;Select All
            </button>
            <button class="col button button-clear" ng-click="showApproval()">
                <i class="icon ion-android-done"></i>&nbsp;&nbsp;Approval
            </button>
            <button class="col button button-clear" ng-click="returnSearch()">
                <i class="icon ion-arrow-return-right"></i>&nbsp;&nbsp;Return
            </button>
        </div>
	</ion-footer-bar>
</ion-view>
