<ion-view title="PaymentApproval-List">
	<ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-navicon" ng-click="returnSearch()"></button>
		</div>
		<h1 class="title">Payment</h1>
        <div class="buttons">
            <ion-toggle ng-model="plviStatus.checked" toggle-class="toggle-calm" ng-change="plviStatusChange()" style="color:#fff;margin:-8px;border-width:0px;background-color:transparent;">
                <span ng-bind="plviStatus.text"></span>
            </ion-toggle>
        </div>
	</ion-header-bar>
    <ion-content>
        <div style="height: 50px;"></div>
        <div class="list">
            <ion-item class="item" ng-repeat="plvi1 in plvi1s">
                <ion-checkbox ng-model="plvi1.IsSelected" ng-change="ClickSelect(plvi1)">
                    <h2><span ng-bind="plvi1.VoucherNo"></span></h2>
                    <p>
                        <i class="iconfont icon-title"></i>&nbsp;
                        <span ng-bind="plvi1.VendorName"></span>
                    </p>
                    <p>
                        <i class="iconfont icon-amount"></i>&nbsp;
                        <span ng-bind="plvi1.InvoiceAmt"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="iconfont icon-date"></i>&nbsp;
                        <span ng-bind="funcShowDate(plvi1.InvoiceDate)"></span>
                    </p>
                </ion-checkbox>
            </ion-item>
        </div>
        <ion-infinite-scroll ng-if="Filter.CanLoadedMoreData" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <div class="row" style="padding: 0px;">
            <button class="col button" ng-click="ClickSelectAll()">
                <i class="icon ion-android-checkmark-circle"></i>&nbsp;&nbsp;Select All
            </button>
            <button class="col button" ng-click="showApproval()">
                <i class="icon ion-android-done"></i>&nbsp;&nbsp;Approval
            </button>
            <button class="col button" ng-click="returnSearch()">
                <i class="icon ion-arrow-return-right"></i>&nbsp;&nbsp;Return
            </button>
        </div>
	</ion-footer-bar>
</ion-view>
