<ion-view title="RetrieveDoc">
    <ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-arrow-back" ng-click="returnSearch()"></button>
        </div>
        <h1 class="title">Retrieve Document List</h1>
    </ion-header-bar>
    <ion-content>
        <div style="height: 43px;"></div>
        <div class="card" ng-repeat="Jmjm1 in Jmjm1s">
            <div class="list" ng-repeat="File in Jmjm1.Files">
                <ion-item nav-clear menu-close class="item">
                    <div class="pull-left" style="width:80%;">
                        <h2>Job  No&nbsp;:&nbsp;<span ng-bind="Jmjm1.JobNo"></span></h2>
                        <h3>File&nbsp;:&nbsp;<span ng-bind="File.FileName"></span></h3>
                    </div>
                    <button class="button button-clear" ng-click="download(Jmjm1, File)">
                        <i class="iconfont icon-pdf" ng-if="File.Extension=='.pdf'"></i>
                        <i class="icon iconfont ion-android-image" ng-if="File.Extension=='.jpg'"></i>
                    </button>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
