<ion-view title="ShipmentStatusDetail">
    <ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-arrow-back" ng-click="return()"></button>
        </div>
        <h1 class="title">Tracking</h1>
    </ion-header-bar>
    <!--ion-tabs class="tabs-top tabs-background-positive tabs-color-light" ng-if="Detail.FilterName === 'OrderNo'">
        <ion-tab title="Booking Info">
            <ion-scroll style="padding-top:93px;">
                <div class="card" ng-repeat="Omtx1 in Omtx1s">
                    <div class="list">
                        <ion-item nav-clear menu-close class="item">
                            <h2>Order No&nbsp;:&nbsp;<span ng-bind="Omtx1.OrderNo"></span></h2>
                            <p>Order Date&nbsp;&nbsp;&nbsp;:&nbsp;<span ng-bind="Omtx1.OrderDate"></span></p>
                            <p>Customer&nbsp;&nbsp;:&nbsp;<span ng-bind="Omtx1.CustomerName"></span></p>
                            <p>Contact&nbsp;&nbsp;&nbsp;:&nbsp;<span ng-bind="Omtx1.ContactName"></span></p>
                            <p>Destination&nbsp;:&nbsp;<span ng-bind="Omtx1.DestName"></span></p>
                            <p>Cargo Type&nbsp;:&nbsp;<span ng-bind="Omtx1.CargoType"></span></p>
                            <p>Commodity&nbsp;:&nbsp;<span ng-bind="Omtx1.CommodityDescription"></span></p>
                            <p>Pcs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<span ng-bind="Omtx1.Pcs | number:0"></span>&nbsp;<span ng-bind="Omtx1.UomDescription"></span></p>
                            <p>Weight&nbsp;&nbsp;:&nbsp;<span ng-bind="Omtx1.GrossWeight | number:4"></span>&nbsp;KGS</p>
                            <p>Volume&nbsp;:&nbsp;<span ng-bind="Omtx1.Volume | number:4"></span>&nbsp;m3</p>
                            <p>Mark No&nbsp;:&nbsp;<span ng-bind="Omtx1.MarkNo"></span></p>
                            <p>Special Instruction&nbsp;:&nbsp;<span ng-bind="Omtx1.SpecialInstruction"></span></p>
                        </ion-item>
                    </div>
                </div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Dimension">
            <ion-scroll style="padding-top:93px;">
                <ion-list>
                    <ion-item ng-repeat="rcbp3 in rcbp3s" class="item-remove-animate item-icon-right" ng-click="openModal(rcbp3)">
                        <p style="font-size:0.8em;"><i class="iconfont icon-name"></i>&nbsp;&nbsp;<span ng-bind="rcbp3.ContactName" style="font-size:1.2em;"></span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont icon-title1"></i>&nbsp;&nbsp;<span ng-bind="rcbp3.Title" style="font-size:1.2em;"></span></p>
                        <p style="font-size:0.8em;"><i class="iconfont icon-phone2"></i>&nbsp;&nbsp;<span ng-bind="rcbp3.Handphone" style="font-size:1.2em;"></span></p>
                        <p style="font-size:0.8em;"><i class="iconfont icon-email"></i>&nbsp;&nbsp;<span ng-bind="rcbp3.Email" style="font-size:1.2em;"></span></p>
                    </ion-item>
                </ion-list>
            </ion-scroll>
        </ion-tab>
    </ion-tabs-->
    <ion-content class="has-header"> <!--ng-if="Detail.FilterName != 'OrderNo'"-->
        <div style="height: 43px;"></div>
        <div class="card">
            <div class="list">
                <ion-item nav-clear menu-close class="item" ng-show="Detail.FilterName != 'AwbBlNo'">
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Job No</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.JobNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding" ng-show="funcShowLabel('ContainerNo')">
                        <div class="col nopadding">
                            <p>Container No</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.ContainerNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p ng-if="jmjm1.ModuleCode === 'AE' || jmjm1.ModuleCode === 'AI'">
                                AWB No
                            </p>
                            <p ng-if="jmjm1.ModuleCode != 'AE' && jmjm1.ModuleCode != 'AI'">
                                B/L No
                            </p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.AwbBlNo | limitTo:18"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p ng-if="jmjm1.ModuleCode === 'AE' || jmjm1.ModuleCode === 'AI'">
                                MAWB No
                            </p>
                            <p ng-if="jmjm1.ModuleCode != 'AE' && jmjm1.ModuleCode != 'AI'">
                                OBL No
                            </p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.MawbOBLNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Ref No</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.ReferenceNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding" ng-if="jmjm1.ModuleCode === 'SE'">
                        <div class="col nopadding">
                            <p><i class="icon iconfont ion-calendar"></i>&nbsp;&nbsp;&nbsp;ETA&nbsp;<span ng-bind="jmjm1.CityCode"></span></p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="ShowDate(jmjm1.ATA)"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p><i class="icon iconfont ion-calendar"></i>&nbsp;&nbsp;&nbsp;ETD</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="ShowDate(jmjm1.ETD)"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p><i class="icon iconfont ion-calendar"></i>&nbsp;&nbsp;&nbsp;ETA</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="ShowDate(jmjm1.ETA)"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p><i class="iconfont icon-accountcity"></i>&nbsp;&nbsp;POL</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;
                                <span class="h5" ng-if="jmjm1.ModuleCode === 'SE' || jmjm1.ModuleCode === 'SI'" ng-bind="jmjm1.PortOfLoadingName"></span>
                                <span class="h5" ng-if="jmjm1.ModuleCode != 'SE' && jmjm1.ModuleCode != 'SI'" ng-bind="jmjm1.OriginName"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p><i class="iconfont icon-accountcity"></i>&nbsp;&nbsp;POD</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;
                                <span class="h5" ng-if="jmjm1.ModuleCode === 'SE' || jmjm1.ModuleCode === 'SI'" ng-bind="jmjm1.PortOfDischargeName"></span>
                                <span class="h5" ng-if="jmjm1.ModuleCode != 'SE' && jmjm1.ModuleCode != 'SI'" ng-bind="jmjm1.DestName"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p ng-if="jmjm1.ModuleCode === 'AE' || jmjm1.ModuleCode === 'AI'">
                                Flight No
                            </p>
                            <p ng-if="jmjm1.ModuleCode != 'AE' && jmjm1.ModuleCode != 'AI'">
                                Vessel
                            </p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;
                                <span class="h5">
                                    <span ng-bind="jmjm1.VesselName"></span>
                                    &nbsp;
                                    <span ng-if="jmjm1.ModuleCode != 'AE' && jmjm1.ModuleCode != 'AI'">V.</span>
                                    &nbsp;
                                    <span ng-bind="jmjm1.VoyageNo | limitTo:18"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Commodity</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.CommodityDescription"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Pcs</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5"><span ng-bind="jmjm1.Pcs | number:0"></span>&nbsp;<span ng-bind="jmjm1.UomDescription"></span></span>
                            </p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Weight</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.GrossWeight | number:4"></span>&nbsp;KGS</p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Volume</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.Volume | number:4"></span>&nbsp;m3</p>
                        </div>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close class="item" ng-show="Detail.FilterName === 'AwbBlNo'">
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Job No</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.JobNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Reference No</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.ReferenceNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>AWB No</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.AwbBlNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>MAWB No</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.MAwbBlNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Origin</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.MAwbBlNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Final Destination</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.MAwbBlNo"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p><i class="icon iconfont ion-calendar"></i>&nbsp;&nbsp;&nbsp;First Flight To</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>
                                :&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.MAwbBlNo"></span><span class="h5" ng-bind="ShowDate(jmjm1.ETD)"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p><i class="icon iconfont ion-calendar"></i>&nbsp;&nbsp;&nbsp;Second Flight To</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>
                                :&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.MAwbBlNo"></span><span class="h5" ng-bind="ShowDate(jmjm1.ETD)">
                      </p></div>
                    </div>
                    <div class="row nopadding">
                      <div class="col nopadding"><p><i class="icon iconfont ion-calendar"></i>&nbsp;&nbsp;&nbsp;Third Flight To</p></div>
                      <div class="col col-67 nopadding"><p>
                          :&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.MAwbBlNo"></span><span class="h5" ng-bind="ShowDate(jmjm1.ETD)">
                      </p></div>
                    </div>
                    <div class="row nopadding">
                      <div class="col nopadding"><p><i class="icon iconfont ion-calendar"></i>&nbsp;&nbsp;&nbsp;Arrival Date</p></div>
                      <div class="col col-67 nopadding"><p>:&nbsp;&nbsp;<span class="h5" ng-bind="ShowDate(jmjm1.ETD)"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Commodity</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.CommodityDescription"></span></p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Pcs</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5"><span ng-bind="jmjm1.Pcs | number:0"></span>&nbsp;<span ng-bind="jmjm1.UomDescription"></span></span>
                            </p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Weight</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.GrossWeight | number:4"></span>&nbsp;KGS</p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Volume</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.Volume | number:4"></span>&nbsp;m3</p>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col nopadding">
                            <p>Charge Weight</p>
                        </div>
                        <div class="col col-67 nopadding">
                            <p>:&nbsp;&nbsp;<span class="h5" ng-bind="jmjm1.GrossWeight | number:4"></span>&nbsp;KGS</p>
                        </div>
                    </div>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
