<ion-view title="VesselSchedule">
	<ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-navicon" ng-click="returnMain()"></button>
		</div>
		<div class="item-input-inset" style="width:90%;">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input id="txt-PortOfDischargeName" type="search" placeholder="Search Port Name" style="width:100%;" ng-model="rcvy.PortOfDischargeName">
			</label>
		</div>
	</ion-header-bar>
    <ion-content class="has-header">
        <ion-list>
            <ion-item nav-clear menu-close class="item" ng-repeat="PortOfDischargeName in PortOfDischargeNames" ng-click="GoToDetail(PortOfDischargeName)">
                <h2><i class="iconfont icon-address4"></i>&nbsp;&nbsp;<span ng-bind="PortOfDischargeName"></span></h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>