<?xml version='1.0' encoding='utf-8'?>
<widget defaultlocale="en-US" id="com.sysmagic.freight" version="1.0.11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FreightMob</name>
    <description>
    </description>
    <author email="vivlong@163.com" href="http://www.28story.com">James Liao</author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="Fullscreen" value="false" />
    <preference name="SplashScreen" value="none" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="KeepRunning" value="True" />
    <preference name="ShowTitle" value="True" />
    <preference name="InAppBrowserStorageEnabled" value="True" />
    <preference name="SuppressesIncrementalRendering" value="True" />
    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="19" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" /> 
    <platform name="android">
        <icon density="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
        <splash density="port-hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
    </platform>       
    <engine name="android" spec="~4.1.1" />
    <plugin name="cordova-plugin-camera" spec="~1.2.0" />
    <plugin name="cordova-plugin-contacts" spec="~1.1.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.0.1" />
    <plugin name="cordova-plugin-media" spec="~1.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="~1.0.1" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.1" />
    <plugin name="cordova-plugin-battery-status" spec="~1.1.0" />
    <plugin name="cordova-plugin-media-capture" spec="~1.0.1" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~4.0.2" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~1.3.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.0.0" />
    <plugin name="cn.jpush.phonegap.JPushPlugin" spec="D:\jpush-phonegap-plugin" />
	<plugin name="cordova-plugin-device" spec="~1.0.1" />
    <plugin name="cordova-plugin-file" spec="~2.1.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.2.1" />
    <plugin name="cordova-plugin-vibration" spec="" />
    <plugin name="cordova-plugin-dialogs" spec="~1.1.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-camera" spec="~1.2.0" />
    <plugin name="cordova-plugin-datepicker" spec="~0.8.6" />
    <plugin name="com.ionic.keyboard" spec="~1.0.4" />
    <plugin name="io.github.pwlin.cordova.plugins.fileopener2" spec="~1.0.11" />
    <plugin name="nl.x-services.plugins.toast" spec="~2.0.4" />
    <plugin name="uk.co.whiteoctober.cordova.appversion" spec="~0.1.7" />
</widget>
