<ion-view title="Contacts">
	<ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-navicon" ng-click="returnMain()"></button>
		</div>
		<h1 class="title">Search Contact</h1>
		<div class="buttons">
			<button class="button button-small button-icon button-clear ion-android-person-add" ng-click="GoToAdd()"></button>
		</div>
	</ion-header-bar>
    <ion-content class="has-header">
		<ion-list>
            <div class="card">
                <div class="item row">
					<div class="col col-80">
						<label class="item item-input item-stacked-label">
							<span class="input-label">Business Party Name</span>
							<input id="iBusinessPartyName" type="text" style="border-bottom:1px solid #808080;" ng-model="Rcbp.BusinessPartyName">
						</label>
					</div>
					<div class="col col-20">
						<button class="button button-clear button-large icon ion-android-search" ng-click="GoToList()"></button>
					</div>
                </div>
            </div>
		</ion-list>
	</ion-content>
</ion-view>