<ion-view title="Contacts-Detail-Add">
	<ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-navicon" ng-click="returnDetail()"></button>
		</div>
		<h1 class="title">Contact - Add New</h1>
	</ion-header-bar>
    <ion-content class="has-header">
        <div class="list card">
            <div class="item">
                <p>
                    <i class="iconfont icon-name"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.ContactName"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="iconfont icon-title1"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Title"></span>
                </p>
                <p>
                    <i class="iconfont icon-phone3"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Telephone"></span>
                </p>
                <p>
                    <i class="iconfont icon-fax1"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Fax"></span>
                </p>
                <p>
                    <i class="iconfont icon-phone2"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Handphone"></span>
                </p>
                <p>
                    <i class="iconfont icon-email"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Email"></span>
                </p>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-show="blnContainNameCard(rcbp3Detail)" ng-src="data:image/png;base64,{{rcbp3Detail.NameCard}}"/>
                <p>
                    <i class="iconfont icon-birthdaycake"></i>&nbsp;&nbsp;
                    <span ng-bind="ShowDate(rcbp3Detail.Birthday)"></span>
                </p>
                <p>
                    <i class="iconfont icon-like"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Like"></span>
                </p>
                <p>
                    <i class="iconfont icon-dislike"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Dislike"></span>
                </p>
                <p>
                    <i class="iconfont icon-facebook"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Facebook"></span>
                </p>
                <p>
                    <i class="iconfont icon-msn"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.MSN"></span>
                </p>
                <p>
                    <i class="iconfont icon-skype"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Skype"></span>
                </p>
                <p>
                    <i class="iconfont icon-twitter"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.Twitter"></span>
                </p>
                <p>
                    <i class="iconfont icon-qq"></i>&nbsp;&nbsp;
                    <span ng-bind="rcbp3Detail.QQ"></span>
                </p>
                <p>
                    Others&nbsp;&nbsp;:&nbsp;&nbsp;<span ng-bind="rcbp3Detail.Others"></span>
                </p>
            </div>
        </div>
    </ion-content>
	<ion-footer-bar align-title="center" class="bar-positive">
		<div class="buttons">
			<button class="button" ng-click="returnDetail()">
				<i class="icon ion-android-done"></i>&nbsp;&nbsp;Save
			</button>
		</div>
		<h1 class="title"></h1>
		<div class="buttons">
			<button class="button" ng-click="returnDetail()">
				<i class="icon ion-android-close"></i>&nbsp;&nbsp;Cancel
			</button>
		</div>
	</ion-footer-bar>
</ion-view>
