<ion-view title="Contacts-Detail-Add">
	<ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-navicon" ng-click="returnTo()"></button>
		</div>
		<h1 class="title">Customer - Add New</h1>
	</ion-header-bar>
    <ion-content class="has-header">
		<div class="list card">
			<div class="item item-body">
				<ion-md-input id="iBusinessPartyName" placeholder="Business Party Name" highlight-color="balanced" type="text" ng-model="rcbpDetail.BusinessPartyName"></ion-md-input>
				<ion-md-input id="iAddress1" placeholder="<i class='iconfont icon-address2'></i>&nbsp;&nbsp;Address 1" highlight-color="balanced" type="text" ng-model="rcbpDetail.Address1"></ion-md-input>
				<ion-md-input id="iAddress2" placeholder="<i class='iconfont icon-address2'></i>&nbsp;&nbsp;Address 2" highlight-color="balanced" type="text" ng-model="rcbpDetail.Address2"></ion-md-input>
				<ion-md-input id="iAddress3" placeholder="<i class='iconfont icon-address2'></i>&nbsp;&nbsp;Address 3" highlight-color="balanced" type="text" ng-model="rcbpDetail.Address3"></ion-md-input>
				<ion-md-input id="iAddress4" placeholder="<i class='iconfont icon-address2'></i>&nbsp;&nbsp;Address 4" highlight-color="balanced" type="text" ng-model="rcbpDetail.Address4"></ion-md-input>
				<ion-md-input id="iCityCode" placeholder="<i class='iconfont icon-accountcity'></i>&nbsp;&nbsp;City" highlight-color="balanced" type="text" ng-model="rcbpDetail.CityCode"></ion-md-input>
				<ion-md-input id="iCountryCode" placeholder="<i class='iconfont icon-accountcity'></i>&nbsp;&nbsp;Country" highlight-color="balanced" type="text" ng-model="rcbpDetail.CountryCode"></ion-md-input>
				<ion-md-input id="iTelephone" placeholder="<i class='iconfont icon-phone3'></i>&nbsp;&nbsp;Telephone" highlight-color="balanced" type="text" ng-model="rcbpDetail.Telephone"></ion-md-input>
				<ion-md-input id="iFax" placeholder="<i class='iconfont icon-fax1'></i>&nbsp;&nbsp;Telephone" highlight-color="balanced" type="text" ng-model="rcbpDetail.Fax"></ion-md-input>
				<ion-md-input id="iEmail" placeholder="<i class='iconfont icon-email'></i>&nbsp;&nbsp;Email" highlight-color="balanced" type="text" ng-model="rcbpDetail.Email"></ion-md-input>
				<ion-md-input id="iWebSite" placeholder="<i class='iconfont icon-website1'></i>&nbsp;&nbsp;WebSite" highlight-color="balanced" type="text" ng-model="rcbpDetail.WebSite"></ion-md-input>
			</div>
		</div>
    </ion-content>
	<ion-footer-bar align-title="center" class="bar-positive">
		<div class="buttons">
			<button class="button" ng-click="returnAddRcbp1()">
				<i class="icon ion-android-done"></i>&nbsp;&nbsp;Save
			</button>
		</div>
		<h1 class="title"></h1>
		<div class="buttons">
			<button class="button" ng-click="returnTo()">
				<i class="icon ion-android-close"></i>&nbsp;&nbsp;Cancel
			</button>
		</div>
	</ion-footer-bar>
</ion-view>