<ion-view title="Detail-Add">
	<ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-navicon" ng-click="returnTo()"></button>
		</div>
		<h1 class="title">Customer - Add New</h1>
	</ion-header-bar>
    <ion-content class="has-header">
        <div>
            <div class="list card">
                <div class="item item-body">
                    <label class="item item-input">
                        <span class="input-label">Business Party Name&nbsp;&nbsp;:&nbsp;&nbsp;</span>
                        <input type="text" ng-model="rcbpDetail.BusinessPartyName">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-address2"></i>&nbsp;&nbsp;Address 1</span>
                        <input type="text" ng-model="rcbpDetail.Address1">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-address2"></i>&nbsp;&nbsp;Address 2</span>
                        <input type="text" ng-model="rcbpDetail.Address2">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-address2"></i>&nbsp;&nbsp;Address 3</span>
                        <input type="text" ng-model="rcbpDetail.Address3">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-address2"></i>&nbsp;&nbsp;Address 4</span>
                        <input type="text" ng-model="rcbpDetail.Address4">
                    </label>
					<label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-accountcity"></i>&nbsp;&nbsp;City</span>
                        <input type="text" ng-model="rcbpDetail.CityCode">
                    </label>
					<label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-accountcity"></i>&nbsp;&nbsp;Country</span>
                        <input type="text" ng-model="rcbpDetail.CountryCode">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-phone3"></i>&nbsp;&nbsp;Telephone</span>
                        <input type="text" ng-model="rcbpDetail.Telephone">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-fax1"></i>&nbsp;&nbsp;Fax</span>
                        <input type="text" ng-model="rcbpDetail.Fax">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-email"></i>&nbsp;&nbsp;Email</span>
                        <input type="text" ng-model="rcbpDetail.Email">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><i class="iconfont icon-website1"></i>&nbsp;&nbsp;WebSite</span>
                        <input type="text" ng-model="rcbpDetail.WebSite">
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="padding button-bar" style="height:7%;">
        <button class="button button-flat button-positive" style="max-width:50%;" ng-click="returnAddRcbp1()">Save</button>
        <button class="button button-positive" style="position:relative;max-width:50%;top:0;bottom:0;right:-5px;" ng-click="returnTo()">Cancel</button>
    </ion-footer-bar>
</ion-view>