<ion-view title="Contacts">
	<ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
		<div class="buttons">
			<button class="button button-icon button-clear ion-navicon" ng-click="returnMain()"></button>
		</div>
		<h1 class="title">Search Contact</h1>
		<div class="buttons">
			<button class="button button-small button-icon button-clear ion-android-person-add" ng-click="GoToAdd()"></button>
		</div>
	</ion-header-bar>
    <ion-content class="has-header">
		<ion-list>
            <div class="card">
                <div class="item row">
					<div class="col col-75">
						<ion-md-input id="iBusinessPartyName" placeholder="Business Party Name" highlight-color="balanced" type="text" ng-model="Rcbp.BusinessPartyName"></ion-md-input>
					</div>
					<div class="col col-25">
						<button class="button button-clear button-large" ng-click="GoToList()">
							<i class="icon iconfont ion-android-search"></i>
						</button>
					</div>
                </div>
            </div>
		</ion-list>
	</ion-content>
</ion-view>