<ion-view title="Login" class="material">
	<ion-pane>		
		<div class="login">				
	        <div class="hero no-header flat">
	            <div class="content">
	                    <img src="./img/login.png" class="hero-icon">
	            </div>
	        </div>
	        <div class="list">
	            <ion-md-input id="iUserName" placeholder="Username" highlight-color="balanced" type="text" ng-model="logininfo.strUserName">
	            </ion-md-input>
	            <ion-md-input id="iPassword" placeholder="Password" highlight-color="balanced" type="password" ng-model="logininfo.strPassword">
	            </ion-md-input>
	        </div>
	        <div class="padding">
	            <button class="button button-full button-positive" ng-click="login()">SIGN IN</button>
	        </div>
		</div>
	</ion-pane>
</ion-view>