<ion-view title="Setting">
	<ion-header-bar class="bar-positive">
		<button class="button button-icon icon ion-android-arrow-back" ng-click="returnLogin()"></button>
		<div class="h1 title" >Server Config</div>
	</ion-header-bar>
	<ion-content>
        <div style="height: 43px;"></div>
		<div class="list list-inset">
			<label class="item item-input item-stacked-label">
				<span class="input-label">API URL</span>
				<input type="text" placeholder="www.sysfreight.com:8081" ng-model="Setting.WebApiURL">
			</label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Web Site URL</span>
                <input type="text" placeholder="www.sysfreight.net:8081/mobileapp" ng-model="Setting.WebSiteUrl">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Map Provider
                </div>
                <select ng-model="Setting.MapProvider" ng-options="v.name for v in Setting.MapProviderOptions">
                    <option value="">None</option>
                </select>
            </label>
			<button class="button button-block button-positive" ng-click="saveSetting()">
				Save
			</button>
			<button class="button button-block button-stable" ng-click="returnLogin()">
				Cancel
			</button>
            <button class="button button-block button-assertive" ng-click="delSetting()">
                Delete
            </button>
		</div>
	</ion-content>
</ion-view>
